.header{
  height: 40vw;
  margin: 30px auto;
 border-radius: 15px;
  background: url(./assets/header_back.jpg) no-repeat;
  background-size: cover;
  position: relative;
}

.no_scroll{
  overflow-x: scroll;
}

.no_scroll::-webkit-scrollbar{
  display: none;
}

.select{
  border: 5px solid #d44a4a;
}

.slick-slide .slick-active .slick-clone .slick-current{
  border: none;
  outline: none;
}